/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

.intro {
    text-align: center ; 
    font-style: italic ; 
    font-style: oblique; 
    margin-left: 250px;
    background-color: turquoise;
    margin-right: 200px;
    opacity: 60%; 
    color: black ;

    
    
}
.thankyou { text-align: center; font-style: normal; margin-left: 80px; font-size:16px ;

}

.order {
    text-align: left; 
}
.card-body{
  
   text-align: center;
}


.welcome, body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.delivery{
    font-size: 25px;
    background-color: turquoise;
    margin-left: 150px ;
    margin-right:150px;
    opacity: 80%;

}
.contact{
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color:black;
}
.copyright{
    text-align: center;
}